<html>
	<head>
		<title> My place </title>
			<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- 			<link rel="icon" type="image/png"  href="http://www.photosnewhd.com/media/images/picture.jpg"> -->
<!-- 			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
		<!-- Jquery (dropdown menu) 		 -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!--  Bootstrap tables -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.6.0/bootstrap-table.min.js"></script>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.6.0/bootstrap-table.min.css">
		<!--  Bootstrap dialog -->
		<link href="/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />
		<script src="/js/bootstrap-dialog.min.js"></script>
		<!--  Bootstrap -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<!-- 	<script src="js/main.js"></script> -->
		<!--  <link href="/css/style.css" rel="stylesheet" type="text/css" /> -->
		
	</head>
	<body>
		<div class="container">
			<div class="jumbotron">
				<h1 dir="rtl">פיזיותרפיה מהבטן - לי סלע</h1>
				<h2 dir="rtl"> פיזיותרפיה לרצפת האגן, פילאטיס, סדנאות</h2>
			</div>
			<ul class="nav nav-pills">
				<li><a href="#add_patient" data-toggle="tab">Add Patient</a></li>
    		<li><a href="#add_tipul" data-toggle="tab">Add Tipul</a></li>
    		<li><a href="#add_group" data-toggle="tab">Add Group</a></li>
    		<li><a href="#add_payment" data-toggle="tab">Payment</a></li>
    		<li><a href="#edit" data-toggle="tab">Edit</a></li>
    		<li><a href="#reports" data-toggle="tab">View Summaries</a></li>
				<li><a href="#get_csv" data-toggle="tab">Download CSV</a></li>
				<li class="dropdown">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle">Summaries <b class="caret"></b></a>
          <ul class="dropdown-menu">
          	<li><a href="#">Patients</a></li>
            <li><a href="#">Groups</a></li>
            <li><a href="#">Tipulim</a></li>
						<li><a href="#">Payments</a></li>
            <li class="divider"></li>
            <li><a href="#balance" data-toggle="tab" >Balance</a></li>
					</ul>
				</li>
			</ul>			
		</div>
	</body>
</html>

<!-- <h1>
	{{var1}}
</h1>

{{form.as_p}}

<img src="http://www.cats.org.uk/uploads/images/pages/photo_latest14.jpg">


 -->